
<br>
<br>
<br>
<br>
<br>

<h2> Here are your candidates </h2>


<% @candidate_scores.each do |candidate_score| %>
  <%= image_tag candidate_score[:candidate].image %>
  <p>Candidate name <a href="/elections/<%= candidate_score[:candidate].id %>"><%= candidate_score[:candidate].name %></a></p>
  <h4>Candidate score: <%= candidate_score[:score] %></h4>
<% end %>

<a href="/elections"> Back to all candidates</a>

