
<br>
<br>
<br>
<br>
<br>

<div class="container" id="result-page-container">
<h2> Test Results </h2>
<h5> Candidates are ranked in order of their score, listing the person with whom you are most aligned with to the person you are least aligned with </h5>

<div class="container" id="result-page">
<% @candidate_scores.each do |candidate_score| %>
 <div class="well" id="result-image"> <%= image_tag candidate_score[:candidate].image %>
  <p>Candidate name: <a href="/elections/<%= candidate_score[:candidate].id %>"><%= candidate_score[:candidate].name %></a></p>
  <h4>Candidate score: <%= candidate_score[:score] %></h4></div>
<% end %>
</div>
</div>

<a href="/elections"> Back to all candidates</a>

