<div ng-app="app">
<div ng-controller="quizApp" ng-init="setup()">

<!-- Quiz start -->

<div class="intro" ng-show="!inProgress">
<div class="jumbotron">
  <h1>Who Should you Vote For?</h1>
  <p>Take our quiz to find out which candidate you are most aligned with.</p>
  <button id="inProgess" ng-click="start()">Start the Quiz</button>
</div>



 
<!-- Quiz Questions -->

<div  ng-repeat="issue in issues">
  <h2>{{issue.question}}</h2>

<div>
  <label>
    <input ng-model="issue.answer" type="radio" name="question-{{issue.id}}" id="" value="1" checked>
    Strongly Favor
  </label>
</div>
<div>
  <label>
    <input ng-model="issue.answer" type="radio" name="question-{{issue.id}}" id="" value="2">
    Favor
  </label>
</div>
<div>
   <label>
    <input ng-model="issue.answer" type="radio" name="question-{{issue.id}}" id="" value="3">
    Neutral
  </label>
</div>
<div>
 <label>
    <input ng-model="issue.answer" type="radio" name="question-{{issue.id}}" id="" value="4">
    Opposed
  </label>
</div>
<div>
   <label>
    <input ng-model="issue.answer" type="radio" name="question-{{issue.id}}" id="" value="5">
    Strongly Opposed
  </label>
</div>
  <button ng-click="submitQuiz()" type="submit" class="btn btn-default">Next</button>
</div>
</div>


   



