/*body {
  margin: 0 auto;
  text-align: left;
  font-family: 'Helvetica', 'Arial';
}*/

h2 {
  font-weight: normal;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-size: 18px;
  cursor: pointer;
}


.container-issues {
  margin: 0 auto;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  padding: 100px;
}

.container-background, .container-issues, .container-chart {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.container-image {
  margin: 0 auto;
  text-align: center;
}

.container-chart {
  margin: 0 auto;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}
.sidebar {
  position: fixed;
  margin-top: 100px;
  margin-bottom: 200px;
  font-size: 18px;
  background-color: white;
  position: fixed;
}

.container-item {
  padding: 20px;
  background-color: whitesmoke;
}
.img-responsive {
  width: 270px;
  height: 300px;
  border-radius: 25px;
  border: solid;
}

.carousel img {
  min-width: 100%;
}

.well-lg {
  width: 300px;
  height: 155px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.img-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
 
 #start {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
 }

 #quiz-scroll {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  border-radius: 25px;
  border: solid;
  height: 300px;
  width: 1000px;
  color: black;
  position: left:;
 }

 .multiple-choice-options {
  text-align: left !important;
  margin: 30px;
 }
