body {
  margin: 0 auto;
  text-align: left;
  font-family: 'Helvetica', 'Arial';
}

h2 {
  font-weight: normal;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-size: 18px;
  cursor: pointer;
}


.container-issues {
  margin: 0 auto;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
  padding: 100px;
}

.container-background {
  margin: 0 auto;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.container-image {
  margin: 0 auto;
  text-align: center;
}

